html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  background: #ddd;
  margin: 0;
  padding: 0;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55px 25px 1fr;
  gap: 0px 6px;
  grid-template-areas:
   "header header"
   "txHead oHead"
   "txBody oBody";
}

body > h1 {
  padding: 1rem;
  margin: 0;
  font-size: 20px;
  color: #444;
  grid-area: header;
}

#tx_hd {
  grid-area: txHead;
}

#tx_body {
  grid-area: txBody;
  margin-top: -1px;
  border-top: 1px solid #aaa;
}

#o_hd {
  grid-area: oHead;
}
#o_body {
  grid-area: oBody;
  overflow: auto;
  margin-top: -1px;
  border-top: 1px solid #aaa;
}

#tx_body > * {
  height: 100%;
  box-sizing: border-box;
  background: white;
  font-family: consolas, "andale mono", "lucida console", monospace;
  resize: none;
  padding: 1rem;
  width: 100%;
  border: 0;
  line-height: 1.25;
  font-size: 14px;
  outline: none;
}

#o_body > * {
  box-sizing: border-box;
  background: white;
  padding: 1rem;
  width: 100%;
  border: 0;
  color: #444;
  min-height: 100%;
}

#syntax_guide,
#html_output {
  white-space: pre-wrap;
  font-size: 14px;
  font-family: consolas, "andale mono", "lucida console", monospace;
  line-height: 1.25;
}

#syntax_guide,
#html_output {
  display: none;
}

.td_hd {
  position: relative;
}
.tools {
  position: absolute;
  bottom: 2px;
  right: 16px;
  padding: 0;
}
.tools button {
  border: 0;
  background: white;
  color: #444;
  padding: 2px 10px;
  border-radius: 12px;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}


.tab {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  box-sizing: border-box;
  padding-left: 10px;
}
.tab li {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}
.tab li label,
.tab li a {
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 4px 10px;
  text-decoration: none;
  color: #999;
  background: #eee;
  margin: 0 1px;
}
.tab .current label,
.tab .current a {
  color: #555;
  background: #fff;
  padding-bottom: 5px;
  margin: 0;
  border: 1px solid #aaa;
  border-bottom: 1px solid #fff;
  z-index: 213;
  position: relative;
}



#text_preview {
  font-size: 16px;
  line-height: 1.4;
}
#text_preview > *:first-child {
  margin-top: 0;
}
#text_preview h1 {
  line-height: 1.1;
  font-size: 2em;
}
#text_preview h2 {
  line-height: 1.1;
  font-size: 1.6em;
}
#text_preview h3 {
  line-height: 1.14;
  font-size: 1.36em;
}
#text_preview h4 {
  line-height: 1.2;
  font-size: 1.14em;
}
#text_preview h5 {
  line-height: 1.24;
  font-size: 1em;
}
#text_preview h6 {
  line-height: 1.24;
  font-size: 1em;
}
#text_preview code {
  background: #f4f4f4;
}
#text_preview table {
  border-collapse : collapse;
}
#text_preview th {
  text-align: left;
}
#text_preview table th,
#text_preview table td {
  padding : 4px 8px;
  border : 1px solid #aaa;
  text-align: left;
  vertical-align : top;
}
#text_preview ul {
  margin-left: 0;
  padding-left: 2em;
}
#text_preview acronym {
  text-decoration : none;
  border-bottom : 1px dotted #888;
  cursor: help;
}
#text_preview blockquote {
  margin-left: .6em;
  padding-left: 1em;
  border-left: .4em solid #ddd;
}
#text_preview pre > code {
  display: block;
}
#text_preview .caps {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .1em;
}

